.form_div {
    background-color: rgba(255, 34, 208, 0.5);
    border-radius: 70px;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    z-index: 999;
    
}

.contact_inp textarea {
    height: 310px;
    resize: none;

}

.contact_inp input, textarea {
    background-color: #ffffff;
    border-radius: 5px;
    display: inline-block;
    padding-left: 10px;
}

 ::-webkit-input-placeholder {color:#313b47;}
 ::-moz-placeholder          {color:#313b47;}
  :-moz-placeholder           {color:#313b47;}
 :-ms-input-placeholder      {color:#313b47;}

.contact_inp input:focus, textarea{
    border-bottom: 0px !important;
}

.contact_label{
    color:#ffffff;
}

.input_char{
    float: right;
    margin-right: 6px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    color: #b9c4cd;
}

.contact_form_block{
    padding: 50px 100px 10px 100px;
}

.contact_button{
    margin-top:20px;
}

.contact_button button{
    background-color: #4da0ff;
    box-shadow: none;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
}

.contact_button button:hover{
    background-color: #5cacff;
}


